<!DOCTYPE html>
html(lang="en" ng-app="idcubeApp")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 第五维国际孵化器管理系统
        link(rel="stylesheet" href="assets/fonts/icon.css")
        link(rel="stylesheet" href="assets/style/style.css")


    body()
    .bigView(ui-view="")
    script(src="js/appMain.js")
